<div class="container w-50">
<center><h1>Editing Month</h1></center>

<%= render 'form', month: @month %>

<%= link_to 'Show', @month ,class:'btn btn-primary mt-3' %> |
<%= link_to 'Back', months_path ,class:'btn btn-primary mt-3' %>
</div>