<div class="container w-50">
<center><h1>Editing Teacher Profile</h1></center>

<%= render 'form', teacher_profile: @teacher_profile %><br>
<%= link_to 'Show', @teacher_profile,class: "btn btn-danger" %> |
<%= link_to 'Back', teacher_profiles_path,class:'btn btn-danger' %>
</div>