<div class="container w-50">
<center><h1>New Teacher Profile</h1></center>
<%= render 'form', teacher_profile: @teacher_profile %><br>
<%= link_to 'Back', teacher_profiles_path,class:'btn btn-danger' %>
</div>
