<div class="container text-center">
	<h1>About Us</h1>
	<h5 class="text-center"><i>The most precious gift a PARENT can give their child apart from their Love and TIME is TOP QUALITY EDUCATION, an opportunity to explore the GENIUS in them.</i></h5><br>
  <div class="row text-left">
    <div class="col-sm text-justify">
      For students appearing for ICSE, CBSE, SSC &HSC Board Exams; Sinhal Classes provides the MOST IDEAL coaching platform built on the Knowledge, Teaching Passion and Principles of the founder Genius Prof. O. P. Sinhal; a legacy of passion for result oriented teaching. Built on the values, Teaching Passion and Principles of Prof Sinhal; Sinhal Classes is a Professionally Managed yet very Passionately driven coaching class for ICSE, CBSE, SSC & HSC Board Exams, as well as Engineering & Medical Entrance Exams like JEE Main & Advanced, AIIMS, AIPMT and CET.We very well realize that the RESULTS of these examinations for every parent and students is not just career defining; what your SON or DAUGHTER becomes is highly dependent on these Results. Every student dreams and works very hard to score the highest possible in these examinations and Fulfill their parent’s dream. Success in these exams brings great Honour and sense of Fulfillment to parents. Every parents want to see their child SUCCESSFUL and we all know it all begins with these examinations.
    </div>
    <div class="col-sm text-justify">
     It’s with these sensibilities and realization that we at Sinhals have designed our coaching for ICSE, CBSE, SSC & HSC Board Exams, as well as Engineering & Medical Entrance Exams like JEE Main & Advanced, AIIMS, AIPMT, and CET. Sinhal Classes is the Best Institute for training students to “understand the concepts” instead of just “Mugging- UP”. We help you Understand BETTER, Work HARDER, and most importantly, Sinhal ClassesHelps and Guides you to Work SMARTER
	 When you know that the scores in the Board & Entrance Exams are career-defining ones for your child, why do you risk their Career by sending them to some average coaching class? Visit any of our 15 Centres of Excellence and see what Sinhal Classes offers you compared to some average coaching class; Be BEST ADVISED: Collect our PROSPECTUS from the nearest CENTER & Secure your child’s brightest future.
    </div>
  </div>
</div>