<div class="container m-cust p-5">
	<h1 class="text-center">About Us</h1>
  <hr class="custom-hr">
  <div class="about-us-1">
    <div class="row about-us-row justify-content-between">
      <div class="col-lg-6 col-sm-12 col-xs-12">
	<p class="text-left">The Being Ambitious Team is a group of young minds who believe in your dreams and strive to provide a platform for all the entrepreneurs, businesses, creators to make sure that your story reaches the rest of the world and inspires and motivates others. Here, we do not just share your success stories, but we share your ideas, the journey behind the concept, and the journey to the destination. We, at Being Ambitious, are committed to providing you the platform where your stories can be heard.</p>
  </div>
  <div class="col-lg-6 col-sm-12 col-xs-12">
    <%= image_tag("about-us-img1.jpeg",:class=>'about-us-img')%>
  </div>
</div>
</div>

<div class="about-us-2 p-5">
  <div class="row">
    <div class="col-lg-6 col-sm-12 text-left">
      <h2>Vision</h2>
      <hr class="custom-hr ml-0">
      <p>Our vision is to build a united community platform for Entrepreneurs, Businesses, Creators, and Artists to inspire and enlighten one another. The Being Ambitious Team works tirelessly to live up.</p>
    </div>
    <div class="col-lg-6  col-sm-12 text-right">
      <h2>Mission</h2>
      <hr class="custom-hr mr-0">
      <p>Our mission at Being Ambitious is to share the journeys of Young Entrepreneurs, Businesses, Creators, and artists with the world with authenticity and sincerity.</p>
    </div>
  </div>
</div>
</div>

<div class="container-fluid about-us-service row">
  <div class="row justify-content-between">
    <div class="about-card p-5 col-lg-4 col-sm-12 d-flex flex-row">
      <div><i class="far fa-3x fa-check-circle p-3"></i></div>
      <div class="text-left">
        <h3>Ensure Security</h3>
        <p>We have developed a comprehensive set of practices, technologies and policies to help ensure your data is secure. We take security very seriously.</p>
      </div>
    </div>
    <div class="about-card p-5 col-lg-4 col-sm-12 d-flex flex-row">
      <div><i class="far fa-3x fa-user p-3"></i></div>
      <div class="text-left">
        <h3>Expert Team</h3>
        <p>Robust softwares could not be made without Expert team. We have experienced analysts, domain experts, trained devs & customer oriented Support team.</p>
      </div>
    </div>
    <div class="about-card p-5 col-lg-4 col-sm-12 d-flex flex-row">
      <div><i class="fas fa-3x fa-headset p-3"></i></div>
      <div class="text-left">
        <h3>Dedicated Support</h3>
        <p>We have customer oriented Support team having dedicated support managers and dedicated Customer Relationship Manager (CRM) for better support experience.</p>
      </div>
    </div>
    </div>
  </div>

<div class="container m-cust core-values p-5">
  <h2 class="text-center">Core Values</h2>
  <hr class="custom-hr">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>Passion:</h5>
      <p>Inspired to care about the individual, organization and community.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>Integrity:</h5>
      <p>Inspired to care about the individual, organization and community.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>Diversity:</h5>
      <p>Inspired to care about the individual, organization and community.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>Innovation:</h5>
      <p>Inspired to care about the individual, organization and community.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>Creativity:</h5>
      <p>Inspired to care about the individual, organization and community.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 p-4">
      <h5>Passion:</h5>
      <p>Inspired to care about the individual, organization and community.</p>
    </div>
  </div>
</div>
<br><br>