<div class ="container p-4 m-cust">
<div class="row contact-us-row">
<div class=" contact-us-form col-lg-6 col-md-6 d-none d-lg-block d-md-block">
	<h1 class="text-center">Follow Us</h1>
	<hr class="custom-hr">
	<div class="text-center m-cust row">
      <a href="" class="text-reset col-lg-6 col-md-6 col-sm-6 col-6 p-4">
        <i class="contact-icons fa fa-2x fa-facebook facebook-icon p-4"></i>
      </a>
      <a href="" class="text-reset col-lg-6 col-md-6 col-sm-6 col-6 p-4">
        <i class="contact-icons fab fa-2x fa-twitter twitter-icon p-4"></i>
      </a>
      <a href="" class="text-reset col-lg-6 col-md-6 col-sm-6 col-6 p-4">
        <i class="contact-icons fab fa-2x fa-instagram instagram-icon p-4"></i>
      </a>
      <a href="" class="text-reset col-lg-6 col-md-6 col-sm-6 col-6 p-4">
        <i class="contact-icons fab fa-2x fa-linkedin-in linkedin-icon p-4"></i>
      </a>
    </div>
</div>
<div class="contact-us-form col-lg-6 col-12">
	<h1 class="text-center">Contact Us</h1>
	<hr class="custom-hr">
	<form action="mailto:vaghasia84@gmail.com" method="get" enctype="text/plain">
		<div class="form-group">
			<input placeholder="Name" class="form-control"/>
		</div>
		<div class="form-group">
			<input type="email" placeholder="Email"  class="form-control" name="email"/>
		</div>
		<div class="form-group">
			<input placeholder="Subject" class="form-control" name="subject"/>
		</div>
		<div class="form-group">
			<textarea rows=8 placeholder="Message" class="form-control" name="body"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" class="btn bg-red btn-block btn-danger" value="Send">
		</div>
	</form>	
</div>
</div>
</div>
<div class ="container p-4 m-cust">
<h1 class="text-center mt-5">Contact Info</h1>
	<hr class="custom-hr">
<div class="row mt-5">
	<div class="col-6 col-lg-3 col-md-6">
		<div class=" text-center contact-us-card">
		<i class="fas red-color fa-4x fa-location-arrow p-4"></i>
		<h3 class="p-2 red-color">Head Office</h3>
		<p>MyClassCampus, 2nd floor, Shaligram House, Behind Rajpath Club, Off. S.G. Road, Bodakdev, Ahmedabad-380059, INDIA</p>
		</div>
	</div>
	<div class="col-6 col-lg-3 col-md-6">
		<div class=" text-center contact-us-card">
		<i class="fas red-color fa-4x fa-envelope p-4"></i>
		<h3 class="p-2 red-color">Email</h3>
		<p>MyClassCampus, 2nd floor, Shaligram House, Behind Rajpath Club, Off. S.G. Road, Bodakdev, Ahmedabad-380059, INDIA</p>
		</div>
	</div>
	<div class="col-6 col-lg-3 col-md-6">
		<div class=" text-center contact-us-card">
		<i class="fas red-color fa-4x fa-mobile-alt p-4"></i>
		<h3 class="p-2 red-color">Phone</h3>
		<p>MyClassCampus, 2nd floor, Shaligram House, Behind Rajpath Club, Off. S.G. Road, Bodakdev, Ahmedabad-380059, INDIA</p>
		</div>
	</div>
	<div class="col-6 col-lg-3 col-md-6">
		<div class=" text-center contact-us-card">
		<i class="fas red-color fa-4x fa-fax p-4"></i>
		<h3 class="p-2 red-color">HR Department</h3>
		<p>MyClassCampus, 2nd floor, Shaligram House, Behind Rajpath Club, Off. S.G. Road, Bodakdev, Ahmedabad-380059, INDIA</p>
		</div>
	</div>
	
</div>
</div>