<div class="container m-cust p-5">
  <h1 class="text-center">Course Name</h1>
  <hr class="custom-hr">
</div>

<!-- <div class="container rounded border">
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-xs-12">
      <%#= image_tag("course6.jpg", :class=>"course-name-img1 w-100 h-100")%>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12 m-0 p-0">
      <p class="detail-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>Lorem
        ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div> -->

<div class="container border border-danger p-0 boxshadow">
    <div class="col-lg-12 p-0">
      <%= image_tag("course6.jpg",:class => "w-100 h-auto img-fluid course-display-image") %>
    </div>
    <div class="col-lg-12 course-short-desc p-5 text-light">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
</div>

<!-- <div class="container m-cust h-50">
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-xs-12 bg-red">
      <p class="p-4 text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>Lorem
        ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12">
      <%#= image_tag("course7.jpg", :class=>"course-name-img2 w-100 h-100 img-fluid p-5")%>
    </div>
  </div>
</div> -->

  <h1 class="text-center mt-5">Course Details</h1>
  <hr class="custom-hr"><br>
<div class="conatiner bg-red p-4 boxshadow container-details">
  <div class="col-lg-6 col-md-12 col-12 m-auto">
    <table class="table table-bordered table-striped bg-white boxshadow">
        <thead class="thead-dark">
          <th>Label</th>
          <th>Details</th>
        </thead>
      <tbody>
        <tr>
          <th>Course Name</th>
          <td>Name Of Course</td>
        </tr>
        <tr>
          <th>Level</th>
          <td>Beginner to Advanced</td>
        </tr>
        <tr>
          <th>Structure</th>
          <td>Practical</td>
        </tr>
        <tr>
          <th>Mode</th>
          <td>Online</td>
        </tr>
        <tr>
          <th>Location</th>
          <td>Google Meets</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>No.of Hours</td>
        </tr>
        <tr>
          <th>Days</th>
          <td>Weekends</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>9:30-11:30</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>14+</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-lg-12 p-5">
  <h1 class="text-center">Course Structure</h1>
  <hr class="custom-hr"><br>
</div>
<div class="container container-course-structure border border-dark bg-lightredshade2 boxshadow">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto p-0">
      <%= image_tag("course7.jpg",:class=>"w-100 h-100 img-fluid borderradius-img-lr")%>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto p-5">
      <ol class="course-list-1">
        <li class="list-item">An item</li>
        <li class="list-item">A second item</li>
        <ul >
          <li class="list-item">An item</li>
          <li class="list-item">A second item</li>
          <li class="list-item">A third item</li>
          <li class="list-item">A fourth item</li>
          <li class="list-item">A fifth one</li>
        </ul>
        <li class="list-item">A third item</li>
        <li class="list-item">A fourth item</li>
        <li class="list-item">A fifth one</li>
        <li class="list-item">A sixth one</li>
      </ol>
    </div>
    
  </div>
</div>

<div class="col-lg-12 p-5">
  <h1 class="text-center">Course Requirements</h1>
  <hr class="custom-hr"><br>
</div>
<div class="container bg-lightredshade2 container-course-structure boxshadow border border-danger">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
      <%= image_tag("course6.jpg",:class=>"img-fluid w-100 h-100 borderradius-img-lr")%>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
      <ol class="p-5 course-list-2 font-weight-bold">
        <li class="list-item"> An item</li>
        <li class="list-item"> A second item</li>
        <li class="list-item"> A third item</li>
        <li class="list-item"> A fourth item</li>
        <li class="list-item"> A fifth one</li>
        <li class="list-item"> A sixth one</li>
      </ol>
    </div>
  </div>
</div>

<div class="container-fluid p-5">
<h1 class="join pt-0">Contact us today!</h1>
</div>
