<div class="container m-cust p-5">
	<div class="row">
		<div class="col-lg-6 m-auto card-signin p-5">
			<h1>404</h1>
			<p>Oops, Sorry We Can't Find That Page</p>
			<%= link_to 'Back', url_for(:back), class:'btn btn-primary' %>
		</div>
	</div>
</div>