<div class="m-cust container w-50">
<center><h1>Edit Paper</h1></center>

<%= render 'form', paper: @paper %>
<div class="mt-4">
	<%= link_to 'Show', @paper ,class: "btn btn-danger" %> |
<%= link_to 'Back', papers_path ,class: "btn btn-danger" %>
</div>


</div>
