<div class="container w-50">
<center><h1>Editing Course</h1></center>

<%= render 'form', course: @course %>

<%= link_to 'Show', @course ,class:'btn btn-primary mt-3'%> |
<%= link_to 'Back', courses_path,class:'btn btn-primary mt-3' %>
	
</div>
